
.main {
    display: grid;
    grid-template-columns: 40% 40%;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin-top: 25px;
}

.main-left {
    /* background-color: hsl(0, 0%, 96%); */
    margin-right: 10px;
    padding: 10px;
}

.main-right {
    /* background-color: hsl(0, 0%, 96%); */
    margin-left: 10px;
    padding: 10px
}

.announcement-button-div {
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: solid hsl(0, 0%, 96%);
  margin-bottom: 75px;
}

    
.announcement-button {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: hsl(348, 100%, 61%);
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: none;
}

.announcement-component {
  width: 80rem;
  height: 17rem;
  color: white;
  background: hsl(348, 100%, 61%);
  margin-top: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
}

.border-announcement {
  border-bottom: solid hsl(0, 0%, 96%);
  margin-left: 600px;
  margin-right: 600px;
}

.desc-component {
  width: auto;
  height: 7rem;
  background-color: hsl(0, 0%, 96%);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  color: black;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.announcement-footer-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.announcement-date {
  text-align: right;
}

.announcement-name {
  margin-left: 20px;
}


.new-announcement {
  width: auto;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 75px;
}

.announcement-title-delete-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.delete-button {
  width: 30px;
  height: 30px;
  justify-self: end;
  margin-right: 20px;
  margin-bottom: 15px;
}

.change_log_grid_header {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  background-color: hsl(0, 0%, 96%);
  border: solid lightgray 1px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.change_log_grid {
  display: grid;
  grid-template-columns: 60% 20% 15% 5%;
  margin-left: 20px;
  margin-right: 20px;
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
  place-items: left;
  align-items: middle;
  padding: 10px;
}

.change_log_item {
  border-bottom: solid lightgray 1px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
}

.filler {
  color: white;
}

.change-card-anchor {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.change-log-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.change-log-card {
  margin-top: 200px;
}

.description-div {
  height: 15rem;
  border: lightgray solid 1px;
  padding: 10px;
}

.rollback-steps {
  height: 10rem;
  border-left:lightgray solid 1px;
  border-right:lightgray solid 1px;
  border-bottom:lightgray solid 1px;
  padding: 10px;
}

.change-log-title {
  display: grid;
  border-top: lightgray solid 1px;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
  text-align: center;
  height : 50px;
}


.change-title {
  margin: auto;
  justify-content: right;
}

.trash-icon {
  display: grid;
  height: 15px;
  width: 15px;
}

.diagram-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  justify-content: center;
}

.network-stack-div {
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}

.stack-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: solid 1px hsl(0, 0%, 96%);
}

.stack-delete-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.stack-title {
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  height: 45px;
}

.service-name {
  margin-left: -160px;
  border: none;
  background-color: white;
  font-size: medium;
  font-weight: bold;
}

.ip {
  border-right: solid 1px hsl(0, 0%, 96%)
}

.add-button {
  height: 25px;
  width: 25px;
}

.stack-title-img-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: right;
}

.delete-stack-button {
  margin-left: -175px;
  border-left: hsl(0, 0%, 96%) solid 1px;
}

.title-margin {
  margin-right: -50px;
}

.service-form {
  width: 60%;
  justify-content: center;
  margin: auto;
}


.username-password-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  margin-right: 15px;
}

.service-form-inner {
  padding: 10px;
  border: solid 1px hsl(0, 0%, 96%)
}

.stack-submit-div {
  display: flex;
  margin: auto;
  justify-content: center;
}

.service-info {
  border-left: hsl(0, 0%, 96%) solid 1px;
  border-right: hsl(0, 0%, 96%) solid 1px;
  border-bottom: hsl(0, 0%, 96%) solid 1px;
  padding: 10px;
}

.calendar-div {
  padding: 15px;
}

.start-end-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}

.add-event {
  display: flex;
  justify-content: right;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  border: 1px solid hsl(0, 0%, 96%)
}

.title-home-page {
  background-color: hsl(0, 0%, 96%);
  padding: 12px;
  font-weight: bold;
}

a:visited {
  color: black;
}