{% extends 'base.html' %}

{% block content %}
        
        <div class="announcement-button-div">
            <a href="{{ url_for('new_announcement') }}">
                <button class="announcement-button">Create Announcement</button>
            </a>
        </div>

        {% for a in annoucements %}
            <div class="announcement-component">
                <div class="announcement-title-delete-grid">
                    <h1 class="announcement-name is-size-5 has-text-weight-semibold">{{ a['name'] }}</h1>
                    <a class="delete-button" onclick="deleteWarning('{{ a['id'] }}')">
                        <img src="{{ url_for('static', filename='bin.svg') }}">
                    </a>
                </div>
                <div class="desc-component">
                    <p class=is-family-monospace></p>{{ a['description'] }}</p>
                </div>
                <br />
                <div class="announcement-footer-grid">
                    <div class="is-italic">{{ a['creator'] }}</div>
                    <div class="announcement-date is-italic">{{ a['date'] }}</div>
                </div>
            </div>
            <br />
            <div class="border-announcement"></div>
        {% endfor %}    
{% endblock %}